{% if data.breadcrumbs is defined %}
  <ol class="breadcrumb">
      {% for crumb, url in data.breadcrumbs %}
        <li class="breadcrumb-item text-capitalize"><a href="/{{url}}">{{crumb}}</a></li>
      {% endfor %}
    <!-- Breadcrumb Menu-->
    <!-- <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group">
        <a class="btn" href="#"><i class="icon-speech"></i></a>
        <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
      </div>
    </li> -->
  </ol>
{% else %}
<div class="mt-4"></div>
{% endif %}