<footer class="app-footer">
    <span><a href="http://codeigniterboilerplate.curataions.website">Ci Boilerplate</a> © 2018.</span>
    <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>