<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{base_url('admin')}}"><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        System Settings
      </li>
      <li class="nav-item">
        <a href="{{base_url('admin/users')}}" class="nav-link"><i class="icon-drop"></i> Users</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Access Management</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{{base_url('admin/groups')}}"><i class="icon-cursor"></i> Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{base_url('admin/permissions')}}"><i class="icon-cursor"></i> Permissions</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>