<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
  <meta name="base_url" content="{{base_url()}}" />
  <title>CoreUI Bootstrap 4 Admin Template</title>

  <!-- Icons -->
  <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet">
  
  <!-- Main styles for this application -->
  <link href="/public/backend/css/style.css" rel="stylesheet">

  <!-- Styles required by this views -->

</head>

<body class="app flex-row align-items-center">
  <div class="container">
    {% include 'partials/error.twig' %}
    {{ block('body') }}
  </div>
  <!-- Bootstrap and necessary plugins -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
  <script src="/node_modules/toastr/build/toastr.min.js"></script>
  <script src="/public/backend/js/global.js"></script>

</body>
</html>