{% extends 'backend/layout/app.layout.twig' %}
{% block body %}
    
<div class="container-fluid">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <h3>CI BoilerPlate</h3>
    </div>
  </div>
</div>
{% endblock %}